# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# dbt
dbt_packages/
logs/
target/
.dbt/

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files (opcional se não queres commitar dados grandes)
data/raw/*.csv
data/processed/*.csv
